# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
*.bk

# Undo-tree save-files
*.~undo-tree

# Ignore in emacs.d
**/site-lisp/*.el
.cache
.lsp-session-*
.mc-lists.el
.org-id-locations
bin/emacs-lsp-booster
chatgpt/
custom.el
elpa/
eln-cache/
etc/*
!etc/tempel/
init.d/*.el
roam/
straight/*
!straight/versions/
tmp/
tree-sitter/
var/
