# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
*.bk

# Undo-tree save-files
*.~undo-tree

# Ignore in emacs.d
**/site-lisp/*.el
.cache
.last-package-update-day
.lsp-session-*
.mc-lists.el
.org-id-locations
.quelpa
auto-save-list
bookmarks
conf.d
custom.el
eln-cache
elpa
emojis/
eshell
history
init.d/
persist
projectile-bookmarks.eld
projectile.cache
projects
request
roam/
secrets/
snippets
straight/*
!straight/versions/
tramp
transient
tutorial/
url
var/
