# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
*.bk

# Undo-tree save-files
*.~undo-tree

# Ignore in emacs.d
**/site-lisp/*.el
.cache
.last-package-update-day
.lsp-session-*
.mc-lists.el
.org-id-locations
.quelpa
auto-save-list
bookmarks
conf.d
custom.el
devdocs/
eln-cache
elpa
emms/
emojis/
eshell
games/
history
init.d/*-user-*
multisession/
network-security.data
persist
projectile-bookmarks.eld
projectile.cache
projects
recentf
request
roam/
secrets/
snippets
speed-type/
straight/*
!straight/versions/
tramp
transient
tree-sitter/
tutorial/
url
var/
webkit/
